@use "../../styles/_variable.scss" as _variable;

.header {
    @media screen and (min-width: _variable.$large) {
        position: sticky; /* lg:sticky */
        top: 0; /* lg:top-0 */
        display: flex; /* lg:flex */
        max-height: 100vh; /* lg:max-h-screen */
        width: 50%; /* lg:w-1/2 */
        flex-direction: column; /* lg:flex-col */
        justify-content: space-between; /* lg:justify-between */
        padding-top: 6rem; /* lg:py-24 (padding-top and padding-bottom) */
        padding-bottom: 6rem; /* lg:py-24 */
    };
}

.title {
    font-size: 2.25rem; /* text-4xl */
    line-height: 2.25rem;;
    font-weight: 700; /* font-bold */
    letter-spacing: -0.025em; /* tracking-tight */
    color: _variable.$highlight;

    @media screen and (min-width: _variable.$small) {
        font-size: 3rem; /* lg:text-5xl */
        line-height: 1;
    };
}

.subtitle {
    margin-top: 0.75rem; /* mt-3 */
    font-size: 1.125rem; /* text-lg */
    font-weight: 525; /* font-medium */
    letter-spacing: -0.025em; /* tracking-tight */
    color: _variable.$highlight;

    @media screen and (min-width: _variable.$small) {
        font-size: 1.25rem; /* lg:text-xl */
        line-height: 1.75rem;
    };
}

.shortdescription {
    margin-top: 1rem; /* mt-4 */
    max-width: 20rem; /* max-w-xs (default Tailwind value for xs) */
    line-height: 1.5; /* leading-normal */
}

.jumplinks {
    display: none; /* hidden */

    @media screen and (min-width: _variable.$large) {
        display: block; /* lg:block */
    };
}

.jumplinklist {
    margin-top: 4rem; /* mt-16 */
    width: max-content; /* w-max */
    list-style-type: none; /* list-none */
    padding: 0; /* p-0 */
}

.jumplinkitem {
    display: flex; /* flex */
    align-items: center; /* items-center */
    padding-top: 0.75rem; /* py-3 (padding top and bottom) */
    padding-bottom: 0.75rem; /* py-3 */
}

.navindicator {
    margin-right: 1rem; /* mr-4 */
    height: 1px; /* h-px */
    width: 2rem; /* w-8 */
    background-color: _variable.$highlight; /* bg-slate-600 */
    transition: all 0.2s ease; /* transition-all */

    @media (prefers-reduced-motion: reduce) {
        transition: none; /* transition-none */
    };
}

/* Styles for when the parent with class 'group' is hovered or focused */
.jumplinkitem:hover .navindicator,
.jumplinkitem:focus-visible .navindicator {
    width: 4rem; /* group-hover:w-16 (16 * 0.25rem = 4rem) */
}

.navtext {
    font-size: 0.75rem; /* text-xs */
    font-weight: bold; /* font-bold */
    text-transform: uppercase; /* uppercase */
    letter-spacing: 0.1em; /* tracking-widest */
    color: _variable.$main-content; /* text-slate-500 */
}

/* Styles for when the parent with class 'group' is hovered or focused */
.jumplinkitem:hover .navtext,
.jumplinkitem:focus-visible .navtext {
    color: _variable.$highlight; /* group-hover:text-slate-200 */
}

.sociallinks {
    margin-left: 0.25rem; /* ml-1 */
    margin-top: 2rem; /* mt-8 */
    display: flex; /* flex */
    align-items: center; /* items-center */
    list-style-type: none; /* list-none */
    padding: 0; /* p-0 */
}

.sociallinkitem {
    margin-right: 1.25rem; /* mr-5 */
    flex-shrink: 0; /* shrink-0 */
    line-height: 2.5rem;
}

.sociallinkicon {
    font-size: 2rem; /* text-xs */
    color: _variable.$main-content;

    &:hover {
        color: _variable.$highlight; /* hover:text-slate-200 */
    }
}

.sociallinkindicator {
    position: absolute; /* Take the element out of the normal flow */
    width: 1px; /* Make it very small */
    height: 1px; /* Make it very small */
    margin: -1px; /* Remove any margin */
    padding: 0; /* Remove padding */
    overflow: hidden; /* Prevent any overflow */
    clip: rect(0, 0, 0, 0); /* Clip the element to zero dimensions */
    border: 0; /* Remove border */
}